<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <header>
            <!-- nav-->
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">EXBOOK</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">交换书籍 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">关于我们</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我要 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right" id="isLogin">
                        <template v-if="isLogin == true">
                            <li><a href="#" data-toggle="modal" >欢迎 ${session.LoginUser.username}</a></li>
                            <li><a href="#">登离</a></li>
                        </template>
                        <template v-else>
                            <li><a href="#">注册</a></li>
                            <li style="margin-left: 5px;"><a href="#loginModal" data-toggle="modal">登陆</a></li>
                        </template>
                    </ul>

                </div>
            </nav>
        </header>
        <script>
            isLoginVM = new Vue({
                el: "#isLogin",
                data:{
                    isLogin:false
                }
            });
        </script>
    </div>
</body>
</html>