<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/base_layout" th:with="title='首页'">

<body>
    <div layout:fragment="content" class="container">
        <div id="msg">
            {{message}}
        </div>
        <div id="mMsg">
            <p th:text="${currentUser.id}"></p>
            <p th:utext="${currentUser.username}">Welcome to our grocery store!</p>

        </div>
    </div>

</body>

<script layout:fragment="lastjs">
    var msgVM = new Vue({
        el:"#msg",
        data:{
            message:"GetingMessage"
        }

    });
</script>

</html>